
@import url('https://fonts.googleapis.com/css2?family=Happy+Monkey&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
    --main-color: #0037b3; /*blue*/
    
  }

header {
    background-color: var(--main-color);
    padding: 1em;
    text-align: center;
    margin-bottom: 20px;
}
 h1 {
    color: #ffffff;
    margin: 0;
}

.image-container {
    display:flex;
    justify-content: center;
}

img {
    width: 600px;
    height: auto;
    margin-bottom: 20px; /* Add margin to create space between the image and buttons */
    
}

.btn-container {
    display: flex;
    justify-content: center;
}

.btn-custom {
    background-color: #fe0879; /*hot pink*/
    color:#ffffff;
    padding: 0.5em 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 10px; /* Add horizontal margin to create space between buttons */
    
}

.btn-custom:hover {
    background-color: #ff82e2; /*light pink*/
}