* {
    margin: 0;
    padding: 0;
    font-family: 'Happy Monkey';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    box-sizing: border-box;   
}

body {
    background-color: #0037b3;
}

.popQuizBlitz {
    background:#f4f008;
    width: 90%;
    max-width: 600px;
    margin: 100px auto 0;
    border-radius: 10px;
    padding: 30px;
}

.popQuizBlitz h1 {
    font-size: 25px;
    color: #fe0879;
    font-weight: 600;
    border-bottom: 1px solid #333;
    padding-bottom: 30px;
}

.Quiz {
    padding: 20px 0;

}
.Quiz {
    font-size: 25px;
    font-family: 'Happy Monkey';
    color: #fe0879;
    font-weight: 600;
    margin-bottom: 20px;
}


#answer-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.btn {
    flex: 1 1 48%; /* Adjust the width of the buttons */
    margin: 5px;
    width: 50%;
    padding: 10px;
    color: #0e078d;
    background-color: #f3f3f5;
    border: 1px solid #060600;
    cursor: pointer;
    text-align: center;
}

.btn:hover:not([disabled]) {
    background: #222;
    color: #e16f6f;
}

.btn:disabled {
    cursor: no-drop;
}


#next-btn {
    background: #0037b3;
    color: #fff;
    font-weight: 500;
    width: 150px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor: pointer;
    display: none;
    padding: 20px;
}

.correct {
    background: #1ad56b;
}

.incorrect {
    background: #d81717;
}
